* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./img/employees.jpg") no-repeat 50% / cover;
}

.info-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 500px;
  height: 600px;
  background: rgba(224, 222, 231, 0.7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 70px;
}

.info-form h1 {
  margin-top: 20px;
  font-size: 35px;
  color: rgba(62, 18, 221, 0.8);
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 600px;
  align-items: center;
  opacity: 1;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-input label {
  font-size: 18px;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 2px solid black;
  background: rgb(227, 228, 230);
  color: rgb(76, 76, 231);
}

.information button {
  width: 314px;
  height: 50px;
  margin-top: 20px;
  border: 2px solid black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  border-radius: 50px;
}

.information button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

/*----- Nav -----*/
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(76, 76, 240, 0.7);
  height: 60px;
  width: 100%;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 60px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.nav-bar li {
  color: silver;
  flex-grow: 1;
  text-align: center;
}

.nav-bar li a {
  list-style: none;
  color: white;
  text-decoration: none;
}

.nav-bar li:hover {
  color: whitesmoke;
  background-color: rgb(93, 93, 199);
  cursor: pointer;
}

/* ----- Home -----*/
.home {
  color: rgb(7, 1, 31);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-bgc {
  position: absolute;
  background-color: rgb(128, 147, 202, 0.4);
  width: 100%;
  height: calc(100% - 60px);
  z-index: 0;
}

.home-content {
  opacity: 1;
  z-index: 1;
  margin-bottom: 150px;
}
.home h1 {
  margin-bottom: 50px;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  z-index: 1;
  opacity: 1;
}

.home p {
  font-size: 25px;
  opacity: 1;

  text-align: center;
}

/*----- Show -----*/
.employee-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: aliceblue;
  width: 500px;
  height: 600px;
  background: rgba(224, 222, 231, 0.7);
  color: rgba(62, 18, 221, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 70px;
  overflow: auto;
}

.employee-list h1 {
  margin-top: 20px;
  font-size: 35px;
  color: rgba(62, 18, 221, 0.8);
}

button {
  width: 314px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 5px;
  border: 2px solid black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.show-employees-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list,
.update-list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
}

.employee-list::-webkit-scrollbar {
  display: none;
}

/*Employee card*/
.employee-card,
.update-employee {
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 85%;
  height: 65px;
  background-color: azure;
  border: 2px solid rgb(121, 117, 117);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-part1 {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.card-part2 {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

/*Update data*/

.update-employee {
  display: flex;
  flex-direction: row;
  height: 150px;
  flex-wrap: wrap;
}

.update-data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: aliceblue;
  width: 500px;
  height: 600px;
  background: rgba(224, 222, 231, 0.7);
  color: rgba(62, 18, 221, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 70px;
  overflow: auto;
}

.update-data h1 {
  margin-top: 20px;
  font-size: 35px;
  color: rgba(62, 18, 221, 0.8);
}

.update-data input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 2px solid black;
  background: rgb(227, 228, 230);
  color: rgb(76, 76, 231);
}

.actual-data {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;

  flex-grow: 1;
  justify-content: space-around;
}

.new-data {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 100%;

  flex-grow: 1;
}

.simple-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.simple-data input {
  width: 50%;
  margin-right: 5px;
  border: 2px solid black;
  background: rgb(227, 228, 230);
  color: rgb(76, 76, 231);
}

.simple-data button {
  margin: 0;
  width: 35%;
  height: 100%;
  border: 2px solid black;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  color: black;
  border-radius: 50px;
}

/*----- Delete -----*/
.delete-employee {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 100%;

  flex-grow: 1;
}

.delete-btn {
  width: 100%;
}
